<!DOCTYPE html>

<html>
  <head>
    <title>about</title>
    <link rel="icon" href="/img/ms-outline.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <p>This data is taken from Johns Hopkins University. It updates daily at 7pm CDT. 
        <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">See the raw data</a></p>
      <p>It's a work in progress. Please email me at smcalilly@gmail.com with any bugs or suggestions for improvement.</p>
    </div>
    
    {{> footer }} 
  </body>
</html>