<!DOCTYPE html>

<html>
  <head>
    <title>about</title>
    <link rel="icon" href="/img/ms-outline.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <p>Although this website is for Mississippi, a JSON API exists for querying daily case data based on state and date.</p>
      <p>
        Sample query:
      </p>

      <code>
        https://www.mississippicovid.com/api/v1/daily?state=alabama&date=03-26-2020
      </code>

    </div>
    
    {{> footer }} 
  </body>
</html>