<!DOCTYPE html>

<html>
  <head>
    <title>data</title>
    <link rel="icon" href="/img/ms-outline.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <p>
        Although this website is for Mississippi, an open API exists for querying Coronavirus data. 
        The data is from Johns Hopkins University, but the goal is to source more data. 
        Working on adding the New York Times data.
      </p>
      <p>
        Johns Hopkins updates their data everyday at 23:59 UTC (7pm central time). We query the most recent data.
        It comes <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">from here.</a>
      </p>
      <p>Here is <a href="/api/v1/docs" target="_blank">the api documentation.</a></p>
      <p>
        The code is <a href="https://github.com/smcalilly/mississippi-covid">available here.</a> 
        Please open an issue if you find a bug. And feel free to contribute, but excuse the mess!
        It's my first ExpressJS app.
      </p>

      

    </div>
    
    {{> footer }} 
  </body>
</html>