<!DOCTYPE html>

<html>
  <head>
    <title>help</title>
    <link rel="icon" href="/img/ms-outline.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <p>{{helpText}}</p>
      <ul>
        <li>
          <a href="https://msdh.ms.gov/msdhsite/_static/14,0,420.html" target="_blank">MS State Dept of Health</a>
        </li>
        <li>
          <a href="https://www.tupelospirit.com/donate" target="_blank">Tupelo</a>
        </li>
        <li>
          <a href="http://www.oxfordms.net/updates-on-community-efforts-regarding-coronavirus target="_blank"">Oxford</a>
        </li>
        <li>
          <a href="https://www.jacksonms.gov/coronavirus-covid-19-resources/" target="_blank">Jackson</a>
        </li>
        <li>
          <a href="">Delta</a>
        </li>
        <li>
          <a href="">Desoto County</a>
        </li>
        <li>
          <a href="">Hattiesburg</a>
        </li>
        <li>
          <a href="">Meridian</a>
        </li>
        <li>
          <a href="">Coast</a>
        </li>
      </ul>
    </div>
    
    {{> footer }} 
  </body>
</html>