<footer>
  <div class="footer">
    <span>created by <a class="email" href="mailto:smcalilly@gmail.com">sam mcalilly</a></span><span>find this site useful? <a href="https://ko-fi.com/sammcalilly" target="_blank">help pay for web hosting.</a></span>
  </div>
</footer>