<header>
  <h1>{{title}}</h1>

  <a href="/">home</a>
  <a href="/news">news</a>
  <a href="/help">help</a>
  <a href="https://msdh.ms.gov/msdhsite/_static/14,0,420.html" target="_blank">msdh</a>
  <a href="/api">api</a>
  <a href="/about">about</a>
</header>