<!DOCTYPE html>

<html>
  <head>
    <title>about</title>
    <link rel="icon" href="/img/ms-outline.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <section class="about-data">
        <p>
          It's important to see this data to help inform our actions, because we're especially vulnerable to this crisis in Mississippi. 
          <a href="https://www.politico.com/magazine/story/2014/10/mississippi-burned-obamacare-112181">Read up on this article</a> about Mississippi's public health care system. It was published in 2014, though still relevant today.
        </p>
        <p>If you find this project useful, please donate money or supplies to the <a href="https://www.umc.edu/Office_of_Development/COVID-19-Donations.html">University of Mississippi Medical Center.</a>
        </p>
        <p>Here is another <a href="https://www.tupelospirit.com/donate">good place to donate</a> if you're from North Mississippi.</p>
        <p>This project is a work in progress, created by Sam McAlilly. <a class="email" href="mailto:smcalilly@gmail.com">Please email me</a> with any issues or suggestions for improvement.</p>
        <h4>Please stay at home! And wash your hands.</h4>
      </section>
    </div>
    
    {{> footer }} 
  </body>
</html>