<!DOCTYPE html>

<html>
  <head>
    <title>mississippi covid</title>
    <meta name="cf-2fa-verify" content="7de9fb506a16a5d">
    <link rel="icon" href="/img/ms-outline.jpeg">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2016%2Ces6%2Cfetch%2CPromise"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/geodata/2.0.0/usa_states/mississippi/mississippi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <main class="main-content">
      {{> header}}
      {{!-- <div class='tableauPlaceholder' id='viz1585319006509' style='position: relative'><noscript><a href='https:&#47;&#47;mississippitoday.org&#47;2020&#47;03&#47;16&#47;data-covid-19-cases-in-mississippi-by-county&#47;'><img alt='COVID-19 cases in MississippiTotal: 485 cases, 6 deathsLast updated 11:28 AM, Mar. 26. Click on dropdown to see cases per 10,000. For the latest updates from the MS Department of Health, visit msdh.ms.gov.  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19map&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='COVID-19map&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;CO&#47;COVID-19map&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1585319006509');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='700px';vizElement.style.height='627px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='700px';vizElement.style.height='627px';} else { vizElement.style.width='100%';vizElement.style.height='927px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script> --}}
      <h3 id="status"></h3>
      <p id="per-capita"></p>
      <div class="ct-chart ct-golden-section" id="chart1">

      </div>
      <p style="text-align: center">This is the latest data from the Mississippi State Health Department.
        <a href="https://msdh.ms.gov/msdhsite/_static/14,0,420.html" target="_blank">See the raw data</a></p>
      <br/>
      <hr/>
      <br/>
      

    <h3 style="text-align: center;">Cases per county</h4>
      <div class="county-state">
        
        <div id="container">
        </div>
        <div id="counties">
          <p id="counties-date"></p>
          <table id="table">
          </table>
        </div>
      </div>

      <div class="ct-chart ct-horizontal-bars" id="chart2">
      </div>
    </main>
    
    {{> footer }} 
    <script src="/js/chartist-plugin-tooltip.js"></script>
    <script src="/js/app.js"></script>
    
  </body>
</html>