<!DOCTYPE html>

<html>
  <head>
    <title>news</title>
    <link rel="icon" href="/img/ms-outline.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <div class="about-data">
        <h2>News from Mississippi Today</h2>
        {{#each feed as |item|}}
          <a href="{{item.link}}">{{item.title}}</a></p>
        {{/each}}
      </div>
    </div>
    
    {{> footer }} 
  </body>
</html>